[submodule "third-party/imgui"]
    path = third-party/imgui
    url = https://github.com/ocornut/imgui.git
[submodule "third-party/cvnp"]
    path = third-party/cvnp
    url = https://github.com/pthom/cvnp.git
